<h1><%= current_user.first_name %></h1>

<% @projects.each do |project| %>
  <div class="project">
    <h3><a href="/projects/<%= project.id %>"><%= project.name %></a> 
    <p>
      <%= project.description %>
    </p>
  </div>
<% end %>

<form method="post" action="/users/show/<%= current_user.id %>">
  <% @skills. each do |skill| %>
  <label><%= skill.name %></label>
    <input type="checkbox" name="<%= skill.id %>">
  <% end %>
  <input type="submit" value="submit">
</form>

