
<h2 class="header"><a href="/project/show/<%= current_project.id %>"><%= current_project.name %></a></h2>

<h3>Your Team</h3>
<% @matches.each do |user| %>
  
  <div class="match col-md-12">
    <div class="col-md-3">
      <h4><%= user.first_name %> <%= user.last_name %></h4>
      <img class="profile_pic"  src="<%= user.picture %>">  
    </div>

    <div class="skill_list col-md-6">
      <% user.skills.each do |skill|%>
        <div class="col-md-6">
          <li><label> <%= skill.name %></label></li>
        </div>
      <% end %>
    </div>
    <div class="email col-md-3">
      <a class="email btn btn-primary btn-success" href="mailto:<%= user.email %>?Subject=Project%20<%= current_project[:name].gsub(/ /,'%20') %>" target="_top">email <%= user.first_name %></a>
    </div>
  </div>
<% end %>





